* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

.background-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/bg.jpeg);
}

.forgot-username-container {
  background: #fff;
  border: 1px solid #ebebeb;
  padding: 32px 24px;
  width: 30rem;
}

.forgot-username-container .forgot-username-title {
  text-align: center;
  color: #45b3df;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
}

.forgot-username-container .forgot-username-body {
  font-size: 16px;
  font-weight: 500;
  color: #3C446E;
  text-align: center;
  margin-bottom: 24px;
}

.forgot-username-container .logo {
  width: 60%;
  height: auto;
}

.logo-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.forgot-username-container .radio-group {
  margin-bottom: 24px;
}

.form-group-wrapper {
  position: relative;
  margin-bottom: 32px;
}

.form-group-wrapper.hidden {
  display: none;
}

.radio-group {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio .radio-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.custom-radio .radio-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #d04437;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
}

.custom-radio input[type="radio"]:checked + .radio-label:before {
  background-color: #fff;
  border-color: #d04437;
}

.custom-radio input[type="radio"]:checked + .radio-label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d04437;
}

.form-group-wrapper input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  background: transparent;
}

.form-group-wrapper label .asterisk-input {
  color: #F31260;
}

.form-group-wrapper label {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 16px;
  color: #383838;
  transition: all 0.3s ease;
  pointer-events: none;
}

.form-group-wrapper input:focus ~ label,
.form-group-wrapper input:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: #666;
}

.form-group-wrapper input:focus {
  border-bottom: 1px solid #2c2c2c;
}

.remember-me {
  margin-top: 24px;
  margin-bottom: 24px;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox .checkmark {
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.custom-checkbox input:checked + .checkmark::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 2px;
  left: 5px;
}

.forgot-username-btn {
  width: 48%;
  padding: 8px 16px;
  background: #45b3df;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.3s ease;
  column-gap: 4px;
}

.forgot-username-btn.disabled {
  background-color: #87cfdd !important;
  cursor: not-allowed !important;
}

.forgot-username-btn .btn-icon-left {
  float: left;
  margin-top: 4px;
  width: 18px;
  height: 18px;
}

.forgot-username-btn.cancel {
  background-color: #d34e5e;
}

.forgot-username-btn.cancel:hover {
  background-color: #bd3d4c;
}

.forgot-username-container .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forgot-username-btn:hover {
  background: #3da1c9;
}

.forgot-username-btn .ph {
  font-size: 24px;
}

footer {
  padding: 24px;
  text-align: center;
}

footer p {
  color: #6C757D;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

@media (max-width: 767.98px) {
  .background-auth {
    height: 100%;
    background-size: contain;
    align-items: flex-start;
  }

  .forgot-username-container {
    margin-left: 0;
    margin-right: 0;
  }

  .forgot-username-btn {
    width: 100%;
  }

  .forgot-username-container .buttons {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  footer {
    padding-top: 0;
    margin-top: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1180px) {
  .background-auth {
    align-items: center;
    height: 80vh;
  }

  .forgot-username-container {
    margin-top: 56px;
  }

  .forgot-username-container .buttons {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .forgot-username-container .buttons button {
    width: 100%;
  }

  footer p {
    color: #6C757D;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
  }
}